@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Pretendard.woff2") format("woff2-variations");
}

* {
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
}
:root {
  --color-blue-100: #edf1ff;
  --color-blue-200: #e0e8ff;
  --color-blue-300: #d1ddff;
  --color-blue-400: #c0ceff;
  --color-blue-500: #a9baff;
  --color-blue-600: #8b9dff;
  --color-blue-700: #4a3dff;
  --color-blue-800: #4036df;
  --color-blue-900: #22256f;
  --color-color-black: #1a1f2d;
  --color-color-white: #ffffff;
  --color-gray-50: #fefefe;
  --color-gray-100: #f1f3f9;
  --color-gray-200: #e4e8f4;
  --color-gray-300: #dbe1f0;
  --color-gray-400: #d3daec;
  --color-gray-500: #c6cee5;
  --color-gray-600: #b1bbd7;
  --color-gray-700: #838da8;
  --color-gray-800: #79839d;
  --color-gray-900: #5c6479;
  --color-gray-950: #40434c;
  --color-purple-50: #fefeff;
  --color-purple-100: #e6dbff;
  --color-purple-200: #e0d1ff;
  --color-purple-300: #d2beff;
  --color-purple-400: #8960e6;
  --color-purple-500: #8556ed;
  --color-purple-600: #6c3bd9;
  --color-purple-700: #4d20b1;
  --color-purple-800: #381783;
  --color-purple-900: #20055c;
  --color-purple-1000: #120038;
  --color-red-100: #ffe9e6;
  --color-red-200: #ffd7cf;
  --color-red-300: #ffc8be;
  --color-red-400: #ffb7ac;
  --color-red-500: #fea398;
  --color-red-600: #f4897d;
  --color-red-700: #ff584d;
  --color-red-800: #d9322d;
  --color-red-900: #5c2823;
}

.dark {
  --color-blue-100: #242969;
  --color-blue-200: #2c337c;
  --color-blue-300: #363e8c;
  --color-blue-400: #404aa0;
  --color-blue-500: #4c57bd;
  --color-blue-600: #8092f2;
  --color-blue-700: #95a6ff;
  --color-blue-800: #b4c2ff;
  --color-blue-900: #d7e0ff;
  --color-color-black: #f3f3f3;
  --color-color-white: #1a191d;
  --color-gray-50: #202123;
  --color-gray-100: #27282b;
  --color-gray-200: #2d2e32;
  --color-gray-300: #37393d;
  --color-gray-400: #46494f;
  --color-gray-500: #5b5d66;
  --color-gray-600: #71737b;
  --color-gray-700: #848890;
  --color-gray-800: #a6aab4;
  --color-gray-900: #c9ccd2;
  --color-gray-950: #e4e6ec;
  --color-purple-50: #fbfcfe;
  --color-purple-100: #d6dbff;
  --color-purple-200: #c2c9f8;
  --color-purple-300: #bbc0fa;
  --color-purple-400: #5f69d0;
  --color-purple-500: #535ec9;
  --color-purple-600: #4853c0;
  --color-purple-700: #3e4abc;
  --color-purple-800: #2f3bac;
  --color-purple-900: #25319f;
  --color-purple-1000: #1a2491;
  --color-red-100: #ffe9e6;
  --color-red-200: #ffd7cf;
  --color-red-300: #ffc8be;
  --color-red-400: #ffb7ac;
  --color-red-500: #fea398;
  --color-red-600: #f4897d;
  --color-red-700: #ff584d;
  --color-red-800: #d9322d;
  --color-red-900: #5c2823;
}
